{{ form_start(form) }}
<style>
.containerForm {
    display: flex;
    align-items: center;
    flex-direction: column;
}
</style>
<div class="containerForm">
    {{ form_widget(form.name, {'attr': {class: 'inputItem', 'placeholder': 'nom de l\'article'}}) }}
    {{ form_widget(form.description, {'attr': {class: 'inputItem', 'placeholder': 'description de l\'article'}}) }}
    {{ form_widget(form.stock, {'attr': {class: 'inputItem', 'placeholder': 'nombre d\'article en stock'}}) }}
    {{ form_widget(form.price, {'attr': {class: 'inputItem', 'placeholder': 'prix de l\'article'}}) }}
    <button class="btn btnSaveProduct">{{ button_label|default('Sauvegarder') }}</button>
</div>
{{ form_end(form) }}
