{% extends 'base.html.twig' %}

{% block title %}Gestionnaire de stock{% endblock %}

{% block body %}
    <table class="tableStock" width="100%">
            <tr>
                <th class="titleProduct">Nom</th>
                <th class="titleProduct">Description</th>
                <th class="titleProduct">Nombre de pièces disponibles</th>
                <th class="titleProduct">Prix / unité</th>
                <th class="titleProduct">Actions</th>
            </tr>
        {% for stock in stocks %}
            <tr>
                <td class="itemProduct">{{ stock.name }}</td>
                <td class="itemProduct">{{ stock.description }}</td>
                <td class="itemProduct">{{ stock.stock }}</td>
                <td class="itemProduct">{{ stock.price }} €</td>
                <td class="itemProduct">
                    <a href="{{ path('app_stock_show', {'id': stock.id}) }}"><i class="fa-solid fa-eye"></i></a> /
                    <a href="{{ path('app_stock_edit', {'id': stock.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun article trouvée</td>
            </tr>
        {% endfor %}
    </table>
    <a href="{{ path('app_stock_new') }}"><i class="fa-solid fa-circle-plus"></i> Ajouter un nouvelle article</a>
{% endblock %}
