{% extends 'base.html.twig' %}

{% block title %}Stock{% endblock %}

{% block body %}
    <h1>Stock</h1>

    <table class="table" width="100%">
            <tr>
                <th>Nom</th>
                <td>{{ stock.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ stock.description }}</td>
            </tr>
            <tr>
                <th>Nombre d'article disponible</th>
                <td>{{ stock.stock }}</td>
            </tr>
            <tr>
                <th>Prix de l'article à l'unité</th>
                <td>{{ stock.price }}</td>
            </tr>
    </table>

    <a href="{{ path('app_stock_index') }}"><i class="fa-solid fa-backward"></i></a>
        /
    <a href="{{ path('app_stock_edit', {'id': stock.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>

    {{ include('stock/_delete_form.html.twig') }}
{% endblock %}
